body {
    background: #eef1f1;
}

h1 {
    font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
}

header {
    position: relative;
    display: inline-block;
    background: #e0e3e3;
    border-radius: 10px;
    padding: 5px 10px 0px 10px;
}

#HeadTitle {
    font-family: "Sigmar One";
    display: inline-block;
}

#HeadCroc{
    height: 50px;
}

div {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    text-align: center;
}

p {
    font-family: sans-serif
}

button {
    text-align: center;
    width: 10%;
    height: 50px;
    margin-left: 45%;
    border-radius: 20px;
    background-color: #004705;
    color: ghostwhite;
}

h2 {
    text-align: center;
}

.timer{
    margin: 3%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.column {
    background-color: rgba(0, 255, 255, 0.05);
    width: 500px;
    margin-left: 3%;
    margin-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    display: inline-block;
    border: solid black;
    text-align: left;
    font-size: 15px;
    border-radius: 2px;
    position: absolute;
    top: 250px;
}

#output{
    left: 4%;
    position: absolute;
    top: 250px;
}

#input{
    left: 50%;
    padding-left:0;
    padding-top:0;
}

footer{
    position: fixed;
    left: 5px;
    bottom: -5px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover { 
    color: #000090;
}