body {
    background: #eef1f1;
    background: red;
}

h1 {
    font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
}

header {
    position: relative;
    display: inline-block;
    background: #e0e3e3;
    border-radius: 10px;
}

#HeadTitle {
    font-family: "Sigmar One";
    display: inline-block;
}

#HeadCroc{
    height: 50px;
}

div {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    text-align: center;
}

p {
    font-family: sans-serif
}

button {
    text-align: center;
    width: 10%;
    height: 50px;
    margin-left: 45%;
    border-radius: 20px;
    background-color: darkslategrey;
    color: ghostwhite;
}

h2 {
    text-align: center;
}
